.background {
  height: 78.7vh;
}

.background .content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 11;
  height: 100%;
}

.background .content-inner .new-york {
  width: 70%;
  color: #ffffff;
  padding-top: 40vh;
  padding-left: 20px;
  padding-bottom: 20px;
}

.background .content-inner .new-york .name {
  font-size: 91px;
  line-height: 0.8;
  width: 200px;
  font-weight: 600;
}

.background .content-inner .new-york .hastag {
  padding-top: 70px;
}

.background .content-inner .state {
  width: 30%;
  background: white;
}

.background .content-inner .state .slider .item img {
  width: 25%;
}

body {
  background-image: url(cuba.jpg);
  background-size: cover;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.design-me {
  list-style-type: none;
  float: left;
  margin: 10px;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.design-me:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100% - 140px);
  height: calc(100% - 140px);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-left-width: 70px;
  border-top-width: 70px;
  border-bottom-width: 70px;
  border-right-width: 70px;
}

.mask {
  background: transparent;
  padding: 70px;
}

.thumb {
  width: 80px;
  height: 80px;
}

.v2-main {
  height: 100vh;
}

.v2-content {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 80%;
  top: 0;
  bottom: 0;
  height: 90%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 0px 500px rgba(8, 8, 8, 0.62);
          box-shadow: 0px 0px 0px 500px rgba(8, 8, 8, 0.62);
}

.v2-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.v2-cart .v2-left {
  width: 60%;
}

.v2-cart .v2-right {
  width: 40%;
  background: #ffffff;
}

.v3-main {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(cuba.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(cuba.jpg);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.v3-content {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 80%;
  top: 0;
  bottom: 0;
  height: 90%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(cuba.jpg);
}

.v3-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.v3-cart .v3-left {
  width: 60%;
}

.v3-cart .v3-right {
  width: 40%;
  background: #ffffff;
}
/*# sourceMappingURL=main.css.map */