* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans",open-sans,sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #5f697a;
}

.signup {
  width: 100%;
  overflow: auto;
  position: relative;
}

.signup .left-side {
  width: 32%;
}

.signup .left-side .invision-logo {
  background-image: url("https://projects.invisionapp.com/assets/apps/d/img/login-signup/invision-logo-white.png");
  display: block;
  position: absolute;
  z-index: 1;
  top: 38px;
  left: 5%;
  width: 40px;
  height: 40px;
  background-size: 100%;
  color: transparent;
  font-size: 1px;
}

.signup .left-side .pannel {
  background-image: url("https://projects.invisionapp.com/assets/apps/d/img/login-signup/molly-nix.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 32%;
  min-height: 600px;
  height: 100%;
  overflow: hidden;
}

.signup .left-side .pannel::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 480px;
  background-image: linear-gradient(-1deg, #141516 7%, rgba(43, 51, 65, 0) 100%);
}

.signup .left-side .pannel .quotes {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 40px;
}

.signup .left-side .pannel .quotes .text {
  position: relative;
  margin-bottom: 40px;
  font-size: 16px;
  font-style: italic;
  color: #fff;
  line-height: 26px;
  opacity: .8;
}

.signup .left-side .pannel .quotes .name {
  opacity: .8;
  font-weight: 600;
  font-size: 11px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.signup .left-side .pannel .quotes i.uber {
  overflow: hidden;
  display: block;
  width: 119px;
  height: 24px;
  background-image: url("https://projects.invisionapp.com/assets/apps/d/img/login-signup/uber-logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.signup .right-side {
  margin-left: 32%;
  position: relative;
}

.signup .right-side .content {
  display: table;
  width: 100%;
  height: 100%;
}

.signup .right-side .content .table-cell {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-top: 100px;
  padding-bottom: 100px;
}

.signup .right-side .content .table-cell .sigin {
  margin-right: 38px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 38px;
  margin-bottom: 46px;
  margin-right: 5%;
  font-size: 13px;
  color: #596377;
  letter-spacing: 0;
  line-height: 36px;
}

.signup .right-side .content .table-cell .sigin a {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #c6ccd7;
  border-radius: 100px;
  font-family: brandon-grotesque,"Open Sans",open-sans,sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #596377;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 12px;
  padding: 0 28px;
  height: 36px;
  line-height: 36px;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.signup .right-side .content .table-cell .sigin a:hover {
  color: #fff;
  text-decoration: none;
  -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.25);
  background-color: #f36;
  border: 1px solid #f36;
}

.signup .right-side .content .table-cell .form {
  clear: both;
  width: 90%;
  max-width: 540px;
  margin: 0 auto;
}

.signup .right-side .content .table-cell .form .title h1 {
  font-size: 28px;
  font-weight: 400;
  color: #434c5f;
  margin-bottom: 50px;
}

.signup .right-side .content .table-cell .form .title h1 span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #596377;
}

.signup .right-side .content .table-cell .form .signup-form {
  position: relative;
  margin-bottom: 23px;
}

.signup .right-side .content .table-cell .form .signup-form .form__group {
  position: relative;
  margin-bottom: 23px;
}

.signup .right-side .content .table-cell .form .signup-form .form__group label {
  display: block;
  font-family: brandon-grotesque,"Open Sans",open-sans,sans-serif;
  font-weight: 700;
  font-size: 11px;
  color: #434c5e;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.signup .right-side .content .table-cell .form .signup-form .form__group input {
  font-family: "Open Sans",open-sans,sans-serif;
  font-weight: 400;
  display: block;
  width: 100%;
  border: 1px solid #d4d9e2;
  border-radius: 3px;
  height: 50px;
  padding: 15px;
  font-size: 14px;
  color: #596377;
  outline: 0;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: -internal-light-dark-color(white, black);
}

.signup .right-side .content .table-cell .form .text--center {
  text-align: center;
}

.signup .right-side .content .table-cell .form .text--center button {
  display: inline-block;
  margin: 20px auto;
  background: #f36;
  border-radius: 100px;
  height: 50px;
  line-height: 50px;
  padding: 0 60px;
  font-family: brandon-grotesque,"Open Sans",open-sans,sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: border .2s ease,-webkit-box-shadow .2s ease;
}

.signup .right-side .content .table-cell .form .text--center button:hover {
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
}

.signup .right-side .content .table-cell .form .more-info {
  margin-bottom: 0;
  padding-bottom: 30px;
  text-align: center;
  color: #8c96a9;
}

.signup .right-side .content .table-cell .form .more-info a {
  color: #8c96a9;
}

button {
  border: 0;
  outline: 0;
}

@media (min-height: 600px) and (min-width: 1076px) {
  .right-side {
    height: 100%;
    overflow: auto;
  }
}

@media (min-height: 600px) and (min-width: 1076px) {
  .signup {
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */