* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",open-sans,sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #5f697a; 
}

$width_left : 32%;
$width_right : 68%;

.signup {
    width: 100%;
    overflow: auto;
    position: relative;
    .left-side {
        width: $width_left;
        .invision-logo {
            background-image: url('https://projects.invisionapp.com/assets/apps/d/img/login-signup/invision-logo-white.png');
            display: block;
            position: absolute;
            z-index: 1;
            top: 38px;
            left: 5%;
            width: 40px;
            height: 40px;
            background-size: 100%;
            color: transparent;
            font-size: 1px;
        }
        .pannel {
            background-image: url('https://projects.invisionapp.com/assets/apps/d/img/login-signup/molly-nix.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            width: $width_left;
            min-height: 600px;
            height: 100%;
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 480px;
                background-image: linear-gradient(-1deg,#141516 7%,rgba(43,51,65,0) 100%);
            }
            .quotes {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0 40px;
                .text {
                    position: relative;
                    margin-bottom: 40px;
                    font-size: 16px;
                    font-style: italic;
                    color: #fff;
                    line-height: 26px;
                    opacity: .8;
                }
                .name {
                    opacity: .8;
                    font-weight: 600;
                    font-size: 11px;
                    color: #fff;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
                i {
                    &.uber {
                        overflow: hidden;
                        display: block;
                        width: 119px;
                        height: 24px;
                        background-image: url('https://projects.invisionapp.com/assets/apps/d/img/login-signup/uber-logo.png');
                        background-size: 100%;
                        background-repeat: no-repeat;
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
    .right-side {
        margin-left: $width_left;
        position: relative;
        .content {
            display: table;
            width: 100%;
            height: 100%;
            .table-cell {
                position: relative;
                display: table-cell;
                vertical-align: middle;
                padding-top: 100px;
                padding-bottom: 100px;
                .sigin {
                    margin-right: 38px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin-top: 38px;
                    margin-bottom: 46px;
                    margin-right: 5%;
                    font-size: 13px;
                    color: #596377;
                    letter-spacing: 0;
                    line-height: 36px;
                    a {
                        display: inline-block;
                        vertical-align: middle;
                        background: #fff;
                        border: 1px solid #c6ccd7;
                        border-radius: 100px;
                        font-family: brandon-grotesque,"Open Sans",open-sans,sans-serif;
                        font-weight: 700;
                        font-size: 10px;
                        color: #596377;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        margin-left: 12px;
                        padding: 0 28px;
                        height: 36px;
                        line-height: 36px;
                        text-decoration: none;
                        transition: all .2s ease;
                        &:hover {
                            color: #fff;
                            text-decoration: none;
                            box-shadow: 0 3px 12px 0 rgba(0,0,0,.25);
                            background-color: #f36;
                            border: 1px solid #f36;
                        }
                    }
                }
                .form {
                    clear: both;
                    width: 90%;
                    max-width: 540px;
                    margin: 0 auto;
                    .title {
                        h1 {
                            font-size: 28px;
                            font-weight: 400;
                            color: #434c5f;
                            margin-bottom: 50px;
                            span {
                                display: block;
                                margin-top: 10px;
                                font-size: 16px;
                                color: #596377;
                            }
                        }
                    }
                    .signup-form {
                        position: relative;
                        margin-bottom: 23px;
                        .form__group {
                            position: relative;
                            margin-bottom: 23px;
                            label {
                                display: block;
                                font-family: brandon-grotesque,"Open Sans",open-sans,sans-serif;
                                font-weight: 700;
                                font-size: 11px;
                                color: #434c5e;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                                margin-bottom: 8px;
                            }
                            input {
                                font-family: "Open Sans",open-sans,sans-serif;
                                font-weight: 400;
                                display: block;
                                width: 100%;
                                border: 1px solid #d4d9e2;
                                border-radius: 3px;
                                height: 50px;
                                padding: 15px;
                                font-size: 14px;
                                color: #596377;
                                outline: 0;
                                transition: border-color .2s ease;
                                box-sizing: border-box;
                                background-color: -internal-light-dark-color(white, black);
                            }
                        }
                    }
                    .text--center {
                        text-align: center;
                        button {
                            display: inline-block;
                            margin: 20px auto;
                            background: #f36;
                            border-radius: 100px;
                            height: 50px;
                            line-height: 50px;
                            padding: 0 60px;
                            font-family: brandon-grotesque,"Open Sans",open-sans,sans-serif;
                            font-size: 12px;
                            font-weight: 700;
                            text-align: center;
                            color: #fff;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            cursor: pointer;
                            transition: border .2s ease,-webkit-box-shadow .2s ease;
                            &:hover {
                                box-shadow: 0 3px 15px 0 rgba(0,0,0,.25);
                            }
                        }
                    }
                    .more-info {
                        margin-bottom: 0;
                        padding-bottom: 30px;
                        text-align: center;
                        color: #8c96a9;
                        a {
                            color: #8c96a9;
                        }
                    }
                }
            }
        }
    }
}

button {
    border: 0;
    outline: 0;
}

@media (min-height: 600px) and (min-width: 1076px) {
    .right-side {
        height: 100%;
        overflow: auto;
    }
}

@media (min-height: 600px) and (min-width: 1076px) {
    .signup {
        height: 100%;
    }
}