
@import 'reset';
@import 'variables';

/**
 *  Common CSS
 */

body { 
   
}

.meomeo {
    background-image: url('https://i.ytimg.com/vi/XP5xONcrDg4/maxresdefault.jpg');
    background-size: 80px 60px;
    border: url('https://i.ytimg.com/vi/oFGz1kcRPfY/maxresdefault.jpg');
}